# Database
DATABASE_URL=postgresql://user:password@localhost:5432/logos_db

# Authentication (Better Auth)
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Nuxt Hub
# For detailed documentation on Nuxt Hub environment variables and deployment environments:
# https://hub.nuxt.com/docs/getting-started/environments
